In [80]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('used_car.csv')

In [4]:
df

,car_name,car_price_in_rupees,kms_driven,fuel_type,city,year_of_manufacture
0,Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...,₹ 4.45 Lakh,"22,402 km",Petrol,Mumbai,2016
1,Maruti Suzuki Alto 800 Lxi,₹ 2.93 Lakh,"10,344 km",Petrol,Kolkata,2019
2,Tata Safari XZ Plus New,₹ 22.49 Lakh,"12,999 km",Diesel,Bangalore,2021
3,Maruti Suzuki Ciaz ZXI+,₹ 6.95 Lakh,"45,000 km",Petrol,Thane,2016
4,Jeep Compass Sport Plus 1.4 Petrol [2019-2020],₹ 12 Lakh,"11,193 km",Petrol,Kolkata,2019
...,...,...,...,...,...,...
2100,Ford Figo Titanium1.5 TDCi,₹ 3.6 Lakh,"42,158 km",Diesel,Kolkata,2015
2101,MINI Cooper Countryman Cooper D,₹ 22 Lakh,"68,862 km",Diesel,Hyderabad,2013
2102,Hyundai Verna 1.6 VTVT SX,₹ 8.38 Lakh,"37,622 km",Petrol,Chennai,2018
2103,Maruti Suzuki Ciaz VXi+ AT,₹ 6.75 Lakh,"64,726 km",Petrol,Mumbai,2017
2104,Hyundai Verna 1.6 VTVT SX,₹ 8.76 Lakh,"29,150 km",Petrol,Pune,2017

In [5]:
x = df['car_name']

In [85]:
x

0       Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...
1                              Maruti Suzuki Alto 800 Lxi
2                                 Tata Safari XZ Plus New
3                                 Maruti Suzuki Ciaz ZXI+
4          Jeep Compass Sport Plus 1.4 Petrol [2019-2020]
                              ...
2100                           Ford Figo Titanium1.5 TDCi
2101                      MINI Cooper Countryman Cooper D
2102                            Hyundai Verna 1.6 VTVT SX
2103                           Maruti Suzuki Ciaz VXi+ AT
2104                            Hyundai Verna 1.6 VTVT SX
Name: car_name, Length: 2105, dtype: object

In [86]:
import pandas as pd

def split_car_name(name):
  """Splits a car name into company and model.

  Args:
    name: The car name string.

  Returns:
    A pandas Series containing the company and model.
  """
  two_word_companies = ['Land Rover', 'Mercedes Benz', 'Maruti Suzuki', 'Mercedes-Benz', 'Rolls Royce', 'Mini Cooper', 'MINI Cooper']
  name_parts = name.split()

  if ' '.join(name_parts[:2]) in two_word_companies:
    company = ' '.join(name_parts[:2])
    model = ' '.join(name_parts[2:])
  else:
    company = name_parts[0]
    model = ' '.join(name_parts[1:])

  return pd.Series([company, model], index=['company', 'model'])

# Apply the function to the 'car_name' column and create new columns
df[['company', 'model']] = df['car_name'].apply(split_car_name)

# Display the updated DataFrame
print(df)

                                               car_name car_price_in_rupees  \
0     Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...         ₹ 4.45 Lakh
1                            Maruti Suzuki Alto 800 Lxi         ₹ 2.93 Lakh
2                               Tata Safari XZ Plus New        ₹ 22.49 Lakh
3                               Maruti Suzuki Ciaz ZXI+         ₹ 6.95 Lakh
4        Jeep Compass Sport Plus 1.4 Petrol [2019-2020]           ₹ 12 Lakh
...                                                 ...                 ...
2100                         Ford Figo Titanium1.5 TDCi          ₹ 3.6 Lakh
2101                    MINI Cooper Countryman Cooper D           ₹ 22 Lakh
2102                          Hyundai Verna 1.6 VTVT SX         ₹ 8.38 Lakh
2103                         Maruti Suzuki Ciaz VXi+ AT         ₹ 6.75 Lakh
2104                          Hyundai Verna 1.6 VTVT SX         ₹ 8.76 Lakh

     kms_driven fuel_type       city  year_of_manufacture        company  \
0     22,402 km    Petrol     Mumbai                 2016        Hyundai
1     10,344 km    Petrol    Kolkata                 2019  Maruti Suzuki
2     12,999 km    Diesel  Bangalore                 2021           Tata
3     45,000 km    Petrol      Thane                 2016  Maruti Suzuki
4     11,193 km    Petrol    Kolkata                 2019           Jeep
...         ...       ...        ...                  ...            ...
2100  42,158 km    Diesel    Kolkata                 2015           Ford
2101  68,862 km    Diesel  Hyderabad                 2013    MINI Cooper
2102  37,622 km    Petrol    Chennai                 2018        Hyundai
2103  64,726 km    Petrol     Mumbai                 2017  Maruti Suzuki
2104  29,150 km    Petrol       Pune                 2017        Hyundai

                                           model
0     Grand i10 Magna 1.2 Kappa VTVT [2017-2020]
1                                   Alto 800 Lxi
2                             Safari XZ Plus New
3                                      Ciaz ZXI+
4      Compass Sport Plus 1.4 Petrol [2019-2020]
...                                          ...
2100                       Figo Titanium1.5 TDCi
2101                         Countryman Cooper D
2102                           Verna 1.6 VTVT SX
2103                                Ciaz VXi+ AT
2104                           Verna 1.6 VTVT SX

[2105 rows x 8 columns]

In [87]:
df

,car_name,car_price_in_rupees,kms_driven,fuel_type,city,year_of_manufacture,company,model
0,Hyundai Grand i10 Magna 1.2 Kappa VTVT [2017-2...,₹ 4.45 Lakh,"22,402 km",Petrol,Mumbai,2016,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020]
1,Maruti Suzuki Alto 800 Lxi,₹ 2.93 Lakh,"10,344 km",Petrol,Kolkata,2019,Maruti Suzuki,Alto 800 Lxi
2,Tata Safari XZ Plus New,₹ 22.49 Lakh,"12,999 km",Diesel,Bangalore,2021,Tata,Safari XZ Plus New
3,Maruti Suzuki Ciaz ZXI+,₹ 6.95 Lakh,"45,000 km",Petrol,Thane,2016,Maruti Suzuki,Ciaz ZXI+
4,Jeep Compass Sport Plus 1.4 Petrol [2019-2020],₹ 12 Lakh,"11,193 km",Petrol,Kolkata,2019,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020]
...,...,...,...,...,...,...,...,...
2100,Ford Figo Titanium1.5 TDCi,₹ 3.6 Lakh,"42,158 km",Diesel,Kolkata,2015,Ford,Figo Titanium1.5 TDCi
2101,MINI Cooper Countryman Cooper D,₹ 22 Lakh,"68,862 km",Diesel,Hyderabad,2013,MINI Cooper,Countryman Cooper D
2102,Hyundai Verna 1.6 VTVT SX,₹ 8.38 Lakh,"37,622 km",Petrol,Chennai,2018,Hyundai,Verna 1.6 VTVT SX
2103,Maruti Suzuki Ciaz VXi+ AT,₹ 6.75 Lakh,"64,726 km",Petrol,Mumbai,2017,Maruti Suzuki,Ciaz VXi+ AT
2104,Hyundai Verna 1.6 VTVT SX,₹ 8.76 Lakh,"29,150 km",Petrol,Pune,2017,Hyundai,Verna 1.6 VTVT SX

In [88]:
# prompt: drop car_name coloumn

# Drop the 'car_name' column
df = df.drop('car_name', axis=1)

# Display the updated DataFrame
df

,car_price_in_rupees,kms_driven,fuel_type,city,year_of_manufacture,company,model
0,₹ 4.45 Lakh,"22,402 km",Petrol,Mumbai,2016,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020]
1,₹ 2.93 Lakh,"10,344 km",Petrol,Kolkata,2019,Maruti Suzuki,Alto 800 Lxi
2,₹ 22.49 Lakh,"12,999 km",Diesel,Bangalore,2021,Tata,Safari XZ Plus New
3,₹ 6.95 Lakh,"45,000 km",Petrol,Thane,2016,Maruti Suzuki,Ciaz ZXI+
4,₹ 12 Lakh,"11,193 km",Petrol,Kolkata,2019,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020]
...,...,...,...,...,...,...,...
2100,₹ 3.6 Lakh,"42,158 km",Diesel,Kolkata,2015,Ford,Figo Titanium1.5 TDCi
2101,₹ 22 Lakh,"68,862 km",Diesel,Hyderabad,2013,MINI Cooper,Countryman Cooper D
2102,₹ 8.38 Lakh,"37,622 km",Petrol,Chennai,2018,Hyundai,Verna 1.6 VTVT SX
2103,₹ 6.75 Lakh,"64,726 km",Petrol,Mumbai,2017,Maruti Suzuki,Ciaz VXi+ AT
2104,₹ 8.76 Lakh,"29,150 km",Petrol,Pune,2017,Hyundai,Verna 1.6 VTVT SX

In [89]:
import pandas as pd

# Function to clean and convert prices
def clean_price(price_str):
    """Removes 'Lakh' and converts to numeric, multiplying by 100000."""
    if isinstance(price_str, str) and 'Lakh' in price_str:  # Check if it's a string and contains 'Lakh'
        price_str = price_str.replace('₹', '').replace('Lakh', '').strip()  # Remove ₹ and Lakh
        try:
            return float(price_str) * 100000  # Convert to float and multiply
        except ValueError:
            print(f"Warning: Could not convert '{price_str}' to a number.")
            return None  # Handle cases where conversion fails
    elif isinstance(price_str, str) and 'Crore' in price_str:
         price_str = price_str.replace('₹', '').replace('Crore', '').strip()  # Remove ₹ and Crore
         try:
             return float(price_str) * 10000000
         except ValueError:
             print(f"Warning: Could not convert '{price_str}' to a number.")
             return None  # Handle cases where conversion fails
    else:
        return price_str  # Keep as is if not a string or doesn't contain 'Lakh'

# Apply the function to the 'car_price_in_rupees' column
df['car_price_in_rupees'] = df['car_price_in_rupees'].apply(clean_price)

# Display the updated DataFrame
print(df)

     car_price_in_rupees kms_driven fuel_type       city  year_of_manufacture  \
0               445000.0  22,402 km    Petrol     Mumbai                 2016
1               293000.0  10,344 km    Petrol    Kolkata                 2019
2              2249000.0  12,999 km    Diesel  Bangalore                 2021
3               695000.0  45,000 km    Petrol      Thane                 2016
4              1200000.0  11,193 km    Petrol    Kolkata                 2019
...                  ...        ...       ...        ...                  ...
2100            360000.0  42,158 km    Diesel    Kolkata                 2015
2101           2200000.0  68,862 km    Diesel  Hyderabad                 2013
2102            838000.0  37,622 km    Petrol    Chennai                 2018
2103            675000.0  64,726 km    Petrol     Mumbai                 2017
2104            876000.0  29,150 km    Petrol       Pune                 2017

            company                                       model
0           Hyundai  Grand i10 Magna 1.2 Kappa VTVT [2017-2020]
1     Maruti Suzuki                                Alto 800 Lxi
2              Tata                          Safari XZ Plus New
3     Maruti Suzuki                                   Ciaz ZXI+
4              Jeep   Compass Sport Plus 1.4 Petrol [2019-2020]
...             ...                                         ...
2100           Ford                       Figo Titanium1.5 TDCi
2101    MINI Cooper                         Countryman Cooper D
2102        Hyundai                           Verna 1.6 VTVT SX
2103  Maruti Suzuki                                Ciaz VXi+ AT
2104        Hyundai                           Verna 1.6 VTVT SX

[2105 rows x 7 columns]

In [90]:
df

,car_price_in_rupees,kms_driven,fuel_type,city,year_of_manufacture,company,model
0,445000.0,"22,402 km",Petrol,Mumbai,2016,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020]
1,293000.0,"10,344 km",Petrol,Kolkata,2019,Maruti Suzuki,Alto 800 Lxi
2,2249000.0,"12,999 km",Diesel,Bangalore,2021,Tata,Safari XZ Plus New
3,695000.0,"45,000 km",Petrol,Thane,2016,Maruti Suzuki,Ciaz ZXI+
4,1200000.0,"11,193 km",Petrol,Kolkata,2019,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020]
...,...,...,...,...,...,...,...
2100,360000.0,"42,158 km",Diesel,Kolkata,2015,Ford,Figo Titanium1.5 TDCi
2101,2200000.0,"68,862 km",Diesel,Hyderabad,2013,MINI Cooper,Countryman Cooper D
2102,838000.0,"37,622 km",Petrol,Chennai,2018,Hyundai,Verna 1.6 VTVT SX
2103,675000.0,"64,726 km",Petrol,Mumbai,2017,Maruti Suzuki,Ciaz VXi+ AT
2104,876000.0,"29,150 km",Petrol,Pune,2017,Hyundai,Verna 1.6 VTVT SX

In [91]:
import pandas as pd

def clean_kms_driven(kms_driven_str):
    """Removes 'km' and commas, and converts to numeric."""
    if isinstance(kms_driven_str, str):
        kms_driven_str = kms_driven_str.replace('km', '').replace(',', '').strip()
        try:
            return int(kms_driven_str)  # Convert to integer
        except ValueError:
            print(f"Warning: Could not convert '{kms_driven_str}' to a number.")
            return None  # Handle cases where conversion fails
    else:
        return kms_driven_str  # Keep as is if not a string

# Apply the function to the 'kms_driven' column
df['kms_driven'] = df['kms_driven'].apply(clean_kms_driven)

# Display the updated DataFrame
print(df)

     car_price_in_rupees  kms_driven fuel_type       city  \
0               445000.0       22402    Petrol     Mumbai
1               293000.0       10344    Petrol    Kolkata
2              2249000.0       12999    Diesel  Bangalore
3               695000.0       45000    Petrol      Thane
4              1200000.0       11193    Petrol    Kolkata
...                  ...         ...       ...        ...
2100            360000.0       42158    Diesel    Kolkata
2101           2200000.0       68862    Diesel  Hyderabad
2102            838000.0       37622    Petrol    Chennai
2103            675000.0       64726    Petrol     Mumbai
2104            876000.0       29150    Petrol       Pune

      year_of_manufacture        company  \
0                    2016        Hyundai
1                    2019  Maruti Suzuki
2                    2021           Tata
3                    2016  Maruti Suzuki
4                    2019           Jeep
...                   ...            ...
2100                 2015           Ford
2101                 2013    MINI Cooper
2102                 2018        Hyundai
2103                 2017  Maruti Suzuki
2104                 2017        Hyundai

                                           model
0     Grand i10 Magna 1.2 Kappa VTVT [2017-2020]
1                                   Alto 800 Lxi
2                             Safari XZ Plus New
3                                      Ciaz ZXI+
4      Compass Sport Plus 1.4 Petrol [2019-2020]
...                                          ...
2100                       Figo Titanium1.5 TDCi
2101                         Countryman Cooper D
2102                           Verna 1.6 VTVT SX
2103                                Ciaz VXi+ AT
2104                           Verna 1.6 VTVT SX

[2105 rows x 7 columns]

In [92]:
df

,car_price_in_rupees,kms_driven,fuel_type,city,year_of_manufacture,company,model
0,445000.0,22402,Petrol,Mumbai,2016,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020]
1,293000.0,10344,Petrol,Kolkata,2019,Maruti Suzuki,Alto 800 Lxi
2,2249000.0,12999,Diesel,Bangalore,2021,Tata,Safari XZ Plus New
3,695000.0,45000,Petrol,Thane,2016,Maruti Suzuki,Ciaz ZXI+
4,1200000.0,11193,Petrol,Kolkata,2019,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020]
...,...,...,...,...,...,...,...
2100,360000.0,42158,Diesel,Kolkata,2015,Ford,Figo Titanium1.5 TDCi
2101,2200000.0,68862,Diesel,Hyderabad,2013,MINI Cooper,Countryman Cooper D
2102,838000.0,37622,Petrol,Chennai,2018,Hyundai,Verna 1.6 VTVT SX
2103,675000.0,64726,Petrol,Mumbai,2017,Maruti Suzuki,Ciaz VXi+ AT
2104,876000.0,29150,Petrol,Pune,2017,Hyundai,Verna 1.6 VTVT SX

In [97]:
# prompt: get unique from 	fuel_type

# Assuming df is your DataFrame as defined in the previous code

unique_fuel_types = df['fuel_type'].unique()
unique_fuel_types

array(['Petrol', 'Diesel', 'Electric', 'CNG', 'Hybrid'], dtype=object)

In [94]:


# Replace 'Petrol+1' with 'Petrol' in the 'fuel_type' column

df['fuel_type'] = df['fuel_type'].replace('LPG', 'CNG')

In [96]:
df['fuel_type'] = df['fuel_type'].replace('Diesel + 1', 'Diesel')
df['fuel_type'] = df['fuel_type'].replace('Petrol + 1', 'Petrol')

In [98]:
df

,car_price_in_rupees,kms_driven,fuel_type,city,year_of_manufacture,company,model
0,445000.0,22402,Petrol,Mumbai,2016,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020]
1,293000.0,10344,Petrol,Kolkata,2019,Maruti Suzuki,Alto 800 Lxi
2,2249000.0,12999,Diesel,Bangalore,2021,Tata,Safari XZ Plus New
3,695000.0,45000,Petrol,Thane,2016,Maruti Suzuki,Ciaz ZXI+
4,1200000.0,11193,Petrol,Kolkata,2019,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020]
...,...,...,...,...,...,...,...
2100,360000.0,42158,Diesel,Kolkata,2015,Ford,Figo Titanium1.5 TDCi
2101,2200000.0,68862,Diesel,Hyderabad,2013,MINI Cooper,Countryman Cooper D
2102,838000.0,37622,Petrol,Chennai,2018,Hyundai,Verna 1.6 VTVT SX
2103,675000.0,64726,Petrol,Mumbai,2017,Maruti Suzuki,Ciaz VXi+ AT
2104,876000.0,29150,Petrol,Pune,2017,Hyundai,Verna 1.6 VTVT SX

In [101]:
df

,car_price_in_rupees,kms_driven,fuel_type,city,year_of_manufacture,company,model,age
0,445000.0,22402,Petrol,Mumbai,2016,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],9
1,293000.0,10344,Petrol,Kolkata,2019,Maruti Suzuki,Alto 800 Lxi,6
2,2249000.0,12999,Diesel,Bangalore,2021,Tata,Safari XZ Plus New,4
3,695000.0,45000,Petrol,Thane,2016,Maruti Suzuki,Ciaz ZXI+,9
4,1200000.0,11193,Petrol,Kolkata,2019,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],6
...,...,...,...,...,...,...,...,...
2100,360000.0,42158,Diesel,Kolkata,2015,Ford,Figo Titanium1.5 TDCi,10
2101,2200000.0,68862,Diesel,Hyderabad,2013,MINI Cooper,Countryman Cooper D,12
2102,838000.0,37622,Petrol,Chennai,2018,Hyundai,Verna 1.6 VTVT SX,7
2103,675000.0,64726,Petrol,Mumbai,2017,Maruti Suzuki,Ciaz VXi+ AT,8
2104,876000.0,29150,Petrol,Pune,2017,Hyundai,Verna 1.6 VTVT SX,8

In [99]:
# prompt: find the age from the coloumn year_of_manufacture

import datetime

# Assuming 'year_of_manufacture' is a column in your DataFrame 'df'
current_year = datetime.datetime.now().year

def calculate_age(year):
    try:
        year = int(year)
        age = current_year - year
        return age
    except (ValueError, TypeError):
        return None  # Handle cases where year is not a valid number

df['age'] = df['year_of_manufacture'].apply(calculate_age)
df

,car_price_in_rupees,kms_driven,fuel_type,city,year_of_manufacture,company,model,age
0,445000.0,22402,Petrol,Mumbai,2016,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],9
1,293000.0,10344,Petrol,Kolkata,2019,Maruti Suzuki,Alto 800 Lxi,6
2,2249000.0,12999,Diesel,Bangalore,2021,Tata,Safari XZ Plus New,4
3,695000.0,45000,Petrol,Thane,2016,Maruti Suzuki,Ciaz ZXI+,9
4,1200000.0,11193,Petrol,Kolkata,2019,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],6
...,...,...,...,...,...,...,...,...
2100,360000.0,42158,Diesel,Kolkata,2015,Ford,Figo Titanium1.5 TDCi,10
2101,2200000.0,68862,Diesel,Hyderabad,2013,MINI Cooper,Countryman Cooper D,12
2102,838000.0,37622,Petrol,Chennai,2018,Hyundai,Verna 1.6 VTVT SX,7
2103,675000.0,64726,Petrol,Mumbai,2017,Maruti Suzuki,Ciaz VXi+ AT,8
2104,876000.0,29150,Petrol,Pune,2017,Hyundai,Verna 1.6 VTVT SX,8

In [100]:
df['city']

0          Mumbai
1         Kolkata
2       Bangalore
3           Thane
4         Kolkata
          ...
2100      Kolkata
2101    Hyderabad
2102      Chennai
2103       Mumbai
2104         Pune
Name: city, Length: 2105, dtype: object

In [102]:
# prompt: arrange th coloumn

# Assuming df is your DataFrame as defined in the previous code
# Reorder columns
new_order = ['company', 'model', 'fuel_type', 'kms_driven', 'age', 'car_price_in_rupees','city']
df = df[new_order]
df

,company,model,fuel_type,kms_driven,age,car_price_in_rupees,city
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],Petrol,22402,9,445000.0,Mumbai
1,Maruti Suzuki,Alto 800 Lxi,Petrol,10344,6,293000.0,Kolkata
2,Tata,Safari XZ Plus New,Diesel,12999,4,2249000.0,Bangalore
3,Maruti Suzuki,Ciaz ZXI+,Petrol,45000,9,695000.0,Thane
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],Petrol,11193,6,1200000.0,Kolkata
...,...,...,...,...,...,...,...
2100,Ford,Figo Titanium1.5 TDCi,Diesel,42158,10,360000.0,Kolkata
2101,MINI Cooper,Countryman Cooper D,Diesel,68862,12,2200000.0,Hyderabad
2102,Hyundai,Verna 1.6 VTVT SX,Petrol,37622,7,838000.0,Chennai
2103,Maruti Suzuki,Ciaz VXi+ AT,Petrol,64726,8,675000.0,Mumbai
2104,Hyundai,Verna 1.6 VTVT SX,Petrol,29150,8,876000.0,Pune

In [118]:
# prompt: make a copy of df

# Create a copy of the DataFrame
df_copy = df.copy()

# Now you can work with df_copy without modifying the original df
df_copy

,company,model,fuel_type,kms_driven,age,car_price_in_rupees,city
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],Petrol,22402,9,445000.0,Mumbai
1,Maruti Suzuki,Alto 800 Lxi,Petrol,10344,6,293000.0,Kolkata
2,Tata,Safari XZ Plus New,Diesel,12999,4,2249000.0,Bangalore
3,Maruti Suzuki,Ciaz ZXI+,Petrol,45000,9,695000.0,Thane
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],Petrol,11193,6,1200000.0,Kolkata
...,...,...,...,...,...,...,...
2100,Ford,Figo Titanium1.5 TDCi,Diesel,42158,10,360000.0,Kolkata
2101,MINI Cooper,Countryman Cooper D,Diesel,68862,12,2200000.0,Hyderabad
2102,Hyundai,Verna 1.6 VTVT SX,Petrol,37622,7,838000.0,Chennai
2103,Maruti Suzuki,Ciaz VXi+ AT,Petrol,64726,8,675000.0,Mumbai
2104,Hyundai,Verna 1.6 VTVT SX,Petrol,29150,8,876000.0,Pune

In [119]:
# prompt: make a copy of df

# Create a copy of the DataFrame
df2 = df.copy()

# Now you can work with df_copy without modifying the original df
df2

,company,model,fuel_type,kms_driven,age,car_price_in_rupees,city
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],Petrol,22402,9,445000.0,Mumbai
1,Maruti Suzuki,Alto 800 Lxi,Petrol,10344,6,293000.0,Kolkata
2,Tata,Safari XZ Plus New,Diesel,12999,4,2249000.0,Bangalore
3,Maruti Suzuki,Ciaz ZXI+,Petrol,45000,9,695000.0,Thane
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],Petrol,11193,6,1200000.0,Kolkata
...,...,...,...,...,...,...,...
2100,Ford,Figo Titanium1.5 TDCi,Diesel,42158,10,360000.0,Kolkata
2101,MINI Cooper,Countryman Cooper D,Diesel,68862,12,2200000.0,Hyderabad
2102,Hyundai,Verna 1.6 VTVT SX,Petrol,37622,7,838000.0,Chennai
2103,Maruti Suzuki,Ciaz VXi+ AT,Petrol,64726,8,675000.0,Mumbai
2104,Hyundai,Verna 1.6 VTVT SX,Petrol,29150,8,876000.0,Pune

In [120]:
df_copy = df_copy[df_copy['fuel_type'] != 'Hybrid']

In [121]:
df_copy['fuel_type'].unique()

array(['Petrol', 'Diesel', 'Electric', 'CNG'], dtype=object)

In [127]:
# prompt: one hot encoding for fue_type

import pandas as pd

# Assuming df_copy is your DataFrame as defined in the previous code
# Create dummy variables for 'fuel_type' using pandas' get_dummies
fuel_type_dummies = pd.get_dummies(df_copy['fuel_type'], prefix='fuel_type')

# Concatenate the dummy variables with the original DataFrame
df_copy = pd.concat([df_copy, fuel_type_dummies], axis=1)

# Drop the original 'fuel_type' column
df_copy = df_copy.drop('fuel_type', axis=1)

# Display the updated DataFrame
print(df_copy)
df_copy

            company                                       model  kms_driven  \
0           Hyundai  Grand i10 Magna 1.2 Kappa VTVT [2017-2020]       22402
1     Maruti Suzuki                                Alto 800 Lxi       10344
2              Tata                          Safari XZ Plus New       12999
3     Maruti Suzuki                                   Ciaz ZXI+       45000
4              Jeep   Compass Sport Plus 1.4 Petrol [2019-2020]       11193
...             ...                                         ...         ...
2099        Hyundai    Grand i10 Sports Edition 1.2L Kappa VTVT       66250
2100           Ford                       Figo Titanium1.5 TDCi       42158
2102        Hyundai                           Verna 1.6 VTVT SX       37622
2103  Maruti Suzuki                                Ciaz VXi+ AT       64726
2104        Hyundai                           Verna 1.6 VTVT SX       29150

      age car_price_in_rupees       city  fuel_type_CNG  fuel_type_Diesel  \
0       9            445000.0     Mumbai          False             False
1       6            293000.0    Kolkata          False             False
2       4           2249000.0  Bangalore          False              True
3       9            695000.0      Thane          False             False
4       6           1200000.0    Kolkata          False             False
...   ...                 ...        ...            ...               ...
2099   11            450000.0  Ahmedabad          False             False
2100   10            360000.0    Kolkata          False              True
2102    7            838000.0    Chennai          False             False
2103    8            675000.0     Mumbai          False             False
2104    8            876000.0       Pune          False             False

      fuel_type_Electric  fuel_type_Petrol
0                  False              True
1                  False              True
2                  False             False
3                  False              True
4                  False              True
...                  ...               ...
2099               False              True
2100               False             False
2102               False              True
2103               False              True
2104               False              True

[2047 rows x 10 columns]

,company,model,kms_driven,age,car_price_in_rupees,city,fuel_type_CNG,fuel_type_Diesel,fuel_type_Electric,fuel_type_Petrol
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],22402,9,445000.0,Mumbai,False,False,False,True
1,Maruti Suzuki,Alto 800 Lxi,10344,6,293000.0,Kolkata,False,False,False,True
2,Tata,Safari XZ Plus New,12999,4,2249000.0,Bangalore,False,True,False,False
3,Maruti Suzuki,Ciaz ZXI+,45000,9,695000.0,Thane,False,False,False,True
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],11193,6,1200000.0,Kolkata,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...
2099,Hyundai,Grand i10 Sports Edition 1.2L Kappa VTVT,66250,11,450000.0,Ahmedabad,False,False,False,True
2100,Ford,Figo Titanium1.5 TDCi,42158,10,360000.0,Kolkata,False,True,False,False
2102,Hyundai,Verna 1.6 VTVT SX,37622,7,838000.0,Chennai,False,False,False,True
2103,Maruti Suzuki,Ciaz VXi+ AT,64726,8,675000.0,Mumbai,False,False,False,True
2104,Hyundai,Verna 1.6 VTVT SX,29150,8,876000.0,Pune,False,False,False,True

In [128]:
# prompt: one hot encoding for city

# Assuming df_copy is your DataFrame as defined in the previous code
# Create dummy variables for 'city' using pandas' get_dummies
city_dummies = pd.get_dummies(df_copy['city'], prefix='city')

# Concatenate the dummy variables with the original DataFrame
df_copy = pd.concat([df_copy, city_dummies], axis=1)

# Drop the original 'city' column
df_copy = df_copy.drop('city', axis=1)

# Display the updated DataFrame
print(df_copy)
df_copy

            company                                       model  kms_driven  \
0           Hyundai  Grand i10 Magna 1.2 Kappa VTVT [2017-2020]       22402
1     Maruti Suzuki                                Alto 800 Lxi       10344
2              Tata                          Safari XZ Plus New       12999
3     Maruti Suzuki                                   Ciaz ZXI+       45000
4              Jeep   Compass Sport Plus 1.4 Petrol [2019-2020]       11193
...             ...                                         ...         ...
2099        Hyundai    Grand i10 Sports Edition 1.2L Kappa VTVT       66250
2100           Ford                       Figo Titanium1.5 TDCi       42158
2102        Hyundai                           Verna 1.6 VTVT SX       37622
2103  Maruti Suzuki                                Ciaz VXi+ AT       64726
2104        Hyundai                           Verna 1.6 VTVT SX       29150

      age car_price_in_rupees  fuel_type_CNG  fuel_type_Diesel  \
0       9            445000.0          False             False
1       6            293000.0          False             False
2       4           2249000.0          False              True
3       9            695000.0          False             False
4       6           1200000.0          False             False
...   ...                 ...            ...               ...
2099   11            450000.0          False             False
2100   10            360000.0          False              True
2102    7            838000.0          False             False
2103    8            675000.0          False             False
2104    8            876000.0          False             False

      fuel_type_Electric  fuel_type_Petrol  city_Ahmedabad  ...  city_Gurgaon  \
0                  False              True           False  ...         False
1                  False              True           False  ...         False
2                  False             False           False  ...         False
3                  False              True           False  ...         False
4                  False              True           False  ...         False
...                  ...               ...             ...  ...           ...
2099               False              True            True  ...         False
2100               False             False           False  ...         False
2102               False              True           False  ...         False
2103               False              True           False  ...         False
2104               False              True           False  ...         False

      city_Hyderabad  city_Kolkata  city_Mumbai  city_Noida  city_Pallikarnai  \
0              False         False         True       False             False
1              False          True        False       False             False
2              False         False        False       False             False
3              False         False        False       False             False
4              False          True        False       False             False
...              ...           ...          ...         ...               ...
2099           False         False        False       False             False
2100           False          True        False       False             False
2102           False         False        False       False             False
2103           False         False         True       False             False
2104           False         False        False       False             False

      city_Poonamallee  city_Pune  city_Thane  city_Thiruvallur
0                False      False       False             False
1                False      False       False             False
2                False      False       False             False
3                False      False        True             False
4                False      False       False             False
...                ...        ...         ...               ...
2099             False      False       False             False
2100             False      False       False             False
2102             False      False       False             False
2103             False      False       False             False
2104             False       True       False             False

[2047 rows x 25 columns]

,company,model,kms_driven,age,car_price_in_rupees,fuel_type_CNG,fuel_type_Diesel,fuel_type_Electric,fuel_type_Petrol,city_Ahmedabad,...,city_Gurgaon,city_Hyderabad,city_Kolkata,city_Mumbai,city_Noida,city_Pallikarnai,city_Poonamallee,city_Pune,city_Thane,city_Thiruvallur
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],22402,9,445000.0,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
1,Maruti Suzuki,Alto 800 Lxi,10344,6,293000.0,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
2,Tata,Safari XZ Plus New,12999,4,2249000.0,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Maruti Suzuki,Ciaz ZXI+,45000,9,695000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],11193,6,1200000.0,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099,Hyundai,Grand i10 Sports Edition 1.2L Kappa VTVT,66250,11,450000.0,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
2100,Ford,Figo Titanium1.5 TDCi,42158,10,360000.0,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2102,Hyundai,Verna 1.6 VTVT SX,37622,7,838000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2103,Maruti Suzuki,Ciaz VXi+ AT,64726,8,675000.0,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
2104,Hyundai,Verna 1.6 VTVT SX,29150,8,876000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False

In [123]:
# ... (Your existing code) ...

# Find the frequency of the 'company' column
company_frequency = df_copy['company'].value_counts()

# Filter out companies with frequency less than 15
df_copy = df_copy[df_copy['company'].isin(company_frequency[company_frequency >= 15].index)]

# ... (Rest of your code) ...

In [124]:
# ... (Your existing code) ...

# Find the frequency of the 'company' column
company_frequency = df_copy['company'].value_counts()

# Display the frequency
print(company_frequency)

company
Maruti Suzuki    567
Hyundai          443
Honda            225
Toyota            93
Tata              83
Mercedes-Benz     70
Ford              70
Renault           67
Mahindra          65
Volkswagen        63
Audi              62
BMW               56
Skoda             49
Kia               41
Jeep              30
MG                25
Land Rover        20
Nissan            18
Name: count, dtype: int64

In [125]:
# ... (Your existing code) ...

# Find the total number of company entries
total_company_entries = len(df_copy['model'])

# Print the total number of entries
print("Total number of company entries:", total_company_entries)

Total number of company entries: 2047

In [129]:
df_copy

,company,model,kms_driven,age,car_price_in_rupees,fuel_type_CNG,fuel_type_Diesel,fuel_type_Electric,fuel_type_Petrol,city_Ahmedabad,...,city_Gurgaon,city_Hyderabad,city_Kolkata,city_Mumbai,city_Noida,city_Pallikarnai,city_Poonamallee,city_Pune,city_Thane,city_Thiruvallur
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],22402,9,445000.0,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
1,Maruti Suzuki,Alto 800 Lxi,10344,6,293000.0,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
2,Tata,Safari XZ Plus New,12999,4,2249000.0,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Maruti Suzuki,Ciaz ZXI+,45000,9,695000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],11193,6,1200000.0,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099,Hyundai,Grand i10 Sports Edition 1.2L Kappa VTVT,66250,11,450000.0,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
2100,Ford,Figo Titanium1.5 TDCi,42158,10,360000.0,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2102,Hyundai,Verna 1.6 VTVT SX,37622,7,838000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2103,Maruti Suzuki,Ciaz VXi+ AT,64726,8,675000.0,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
2104,Hyundai,Verna 1.6 VTVT SX,29150,8,876000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False

In [117]:
# prompt: apply minmax on kms_driven coloumn

from sklearn.preprocessing import MinMaxScaler

# Assuming df_copy is your DataFrame and 'kms_driven' is the column you want to scale
scaler = MinMaxScaler()

# Reshape the column before scaling (MinMaxScaler expects a 2D array)
kms_driven_reshaped = df_copy['kms_driven'].values.reshape(-1, 1)

# Fit and transform the data
scaled_kms_driven = scaler.fit_transform(kms_driven_reshaped)

# Replace the original 'kms_driven' column with the scaled values
df_copy['kms_driven'] = scaled_kms_driven

# Display the updated DataFrame
df_copy

<ipython-input-117-480c7bb4d37f>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['kms_driven'] = scaled_kms_driven

,company,model,kms_driven,age,car_price_in_rupees,fuel_type_CNG,fuel_type_Diesel,fuel_type_Electric,fuel_type_Petrol,city_Ahmedabad,...,city_Gurgaon,city_Hyderabad,city_Kolkata,city_Mumbai,city_Noida,city_Pallikarnai,city_Poonamallee,city_Pune,city_Thane,city_Thiruvallur
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],0.006205,9,445000.0,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
1,Maruti Suzuki,Alto 800 Lxi,0.002856,6,293000.0,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
2,Tata,Safari XZ Plus New,0.003593,4,2249000.0,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Maruti Suzuki,Ciaz ZXI+,0.012482,9,695000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],0.003091,6,1200000.0,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099,Hyundai,Grand i10 Sports Edition 1.2L Kappa VTVT,0.018385,11,450000.0,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
2100,Ford,Figo Titanium1.5 TDCi,0.011693,10,360000.0,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2102,Hyundai,Verna 1.6 VTVT SX,0.010433,7,838000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2103,Maruti Suzuki,Ciaz VXi+ AT,0.017962,8,675000.0,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
2104,Hyundai,Verna 1.6 VTVT SX,0.008080,8,876000.0,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False

In [132]:
# prompt: lnear reggresion ang target variable is car_price

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Assuming df_copy is your preprocessed DataFrame
# ... (Your existing code to create df_copy) ...

# Prepare the data for linear regression
X = df_copy.drop('car_price_in_rupees', axis=1)  # Features (all columns except target)
y = df_copy['car_price_in_rupees']  # Target variable

# Convert categorical columns to numerical using one-hot encoding (if not already done)
X = pd.get_dummies(X, columns=['company', 'model'], drop_first=True)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

ValueError: Input y contains NaN.

In [131]:
# ... (Your existing code) ...

# Clean the 'car_price_in_rupees' column
df_copy['car_price_in_rupees'] = df_copy['car_price_in_rupees'].str.replace('₹', '').str.replace(',', '').astype(float)

# ... (Rest of your code) ...

In [133]:
import numpy as np

# Assuming y is your target variable (e.g., y = df_copy['car_price_in_rupees'])
nan_indices = np.where(np.isnan(y))[0]  # Get indices of NaN values
nan_rows_y = y[nan_indices]  # Get the rows with NaN values

print("Rows in y with NaN values:")
print(nan_rows_y)

KeyError: '[12, 21, 67, 113, 200, 204, 231, 234, 243, 255, 260, 279, 284, 300, 356, 467, 489, 525, 558, 671, 735, 755, 757, 788, 832, 912, 971, 1035, 1052, 1079, 1180, 1195, 1295, 1300, 1311, 1344, 1350, 1371, 1442, 1471, 1486, 1588, 1639, 1641, 1648, 1662, 1664, 1702, 1725, 1798, 1904, 1943, 1964, 2043] not in index'

In [134]:
y

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
2099   NaN
2100   NaN
2102   NaN
2103   NaN
2104   NaN
Name: car_price_in_rupees, Length: 2047, dtype: float64

In [135]:
df_copy

,company,model,kms_driven,age,car_price_in_rupees,fuel_type_CNG,fuel_type_Diesel,fuel_type_Electric,fuel_type_Petrol,city_Ahmedabad,...,city_Gurgaon,city_Hyderabad,city_Kolkata,city_Mumbai,city_Noida,city_Pallikarnai,city_Poonamallee,city_Pune,city_Thane,city_Thiruvallur
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],22402,9,NaN,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
1,Maruti Suzuki,Alto 800 Lxi,10344,6,NaN,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
2,Tata,Safari XZ Plus New,12999,4,NaN,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Maruti Suzuki,Ciaz ZXI+,45000,9,NaN,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],11193,6,NaN,False,False,False,True,False,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099,Hyundai,Grand i10 Sports Edition 1.2L Kappa VTVT,66250,11,NaN,False,False,False,True,True,...,False,False,False,False,False,False,False,False,False,False
2100,Ford,Figo Titanium1.5 TDCi,42158,10,NaN,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2102,Hyundai,Verna 1.6 VTVT SX,37622,7,NaN,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2103,Maruti Suzuki,Ciaz VXi+ AT,64726,8,NaN,False,False,False,True,False,...,False,False,False,True,False,False,False,False,False,False
2104,Hyundai,Verna 1.6 VTVT SX,29150,8,NaN,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False

In [136]:
df2

,company,model,fuel_type,kms_driven,age,car_price_in_rupees,city
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],Petrol,22402,9,445000.0,Mumbai
1,Maruti Suzuki,Alto 800 Lxi,Petrol,10344,6,293000.0,Kolkata
2,Tata,Safari XZ Plus New,Diesel,12999,4,2249000.0,Bangalore
3,Maruti Suzuki,Ciaz ZXI+,Petrol,45000,9,695000.0,Thane
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],Petrol,11193,6,1200000.0,Kolkata
...,...,...,...,...,...,...,...
2100,Ford,Figo Titanium1.5 TDCi,Diesel,42158,10,360000.0,Kolkata
2101,MINI Cooper,Countryman Cooper D,Diesel,68862,12,2200000.0,Hyderabad
2102,Hyundai,Verna 1.6 VTVT SX,Petrol,37622,7,838000.0,Chennai
2103,Maruti Suzuki,Ciaz VXi+ AT,Petrol,64726,8,675000.0,Mumbai
2104,Hyundai,Verna 1.6 VTVT SX,Petrol,29150,8,876000.0,Pune

In [143]:
# Assuming df2 is your DataFrame
rows_with_commas = df2[df2['car_price_in_rupees'].str.contains(',', na=False)]

# Display the rows
print(rows_with_commas)

            company                 model fuel_type  kms_driven  age  \
499            Tata  Indica V2 DLE BS-III    Diesel       50000   18
1635  Maruti Suzuki            Estilo LXi    Petrol       29012   17

     car_price_in_rupees         city
499             ₹ 60,000  Pallikarnai
1635            ₹ 99,991      Kolkata

In [139]:
df3=df2.copy

In [141]:
df3 = df2.copy()  # Create a copy of df2

indices_to_modify = [499, 1635]

# Remove '₹' and ',' and convert to integers
for index in indices_to_modify:
    price_str = df3.loc[index, 'car_price_in_rupees']
    # Remove ₹ and , and convert to integer
    cleaned_price = int(price_str.replace('₹', '').replace(',', ''))
    df3.loc[index, 'car_price_in_rupees'] = cleaned_price

# Display the updated rows
print(df3.loc[indices_to_modify, 'car_price_in_rupees'])

499     60000
1635    99991
Name: car_price_in_rupees, dtype: object

In [142]:
# Assuming df2 is your DataFrame
rows_with_commas = df3[df3['car_price_in_rupees'].str.contains(',', na=False)]

# Display the rows
print(rows_with_commas)

AttributeError: Can only use .str accessor with string values!

In [144]:
df3

,company,model,fuel_type,kms_driven,age,car_price_in_rupees,city
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],Petrol,22402,9,445000.0,Mumbai
1,Maruti Suzuki,Alto 800 Lxi,Petrol,10344,6,293000.0,Kolkata
2,Tata,Safari XZ Plus New,Diesel,12999,4,2249000.0,Bangalore
3,Maruti Suzuki,Ciaz ZXI+,Petrol,45000,9,695000.0,Thane
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],Petrol,11193,6,1200000.0,Kolkata
...,...,...,...,...,...,...,...
2100,Ford,Figo Titanium1.5 TDCi,Diesel,42158,10,360000.0,Kolkata
2101,MINI Cooper,Countryman Cooper D,Diesel,68862,12,2200000.0,Hyderabad
2102,Hyundai,Verna 1.6 VTVT SX,Petrol,37622,7,838000.0,Chennai
2103,Maruti Suzuki,Ciaz VXi+ AT,Petrol,64726,8,675000.0,Mumbai
2104,Hyundai,Verna 1.6 VTVT SX,Petrol,29150,8,876000.0,Pune

In [145]:
company_frequency = df3['company'].value_counts()
df3 = df3[df3['company'].isin(company_frequency[company_frequency >= 15].index)]

In [146]:
df3

,company,model,fuel_type,kms_driven,age,car_price_in_rupees,city
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],Petrol,22402,9,445000.0,Mumbai
1,Maruti Suzuki,Alto 800 Lxi,Petrol,10344,6,293000.0,Kolkata
2,Tata,Safari XZ Plus New,Diesel,12999,4,2249000.0,Bangalore
3,Maruti Suzuki,Ciaz ZXI+,Petrol,45000,9,695000.0,Thane
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],Petrol,11193,6,1200000.0,Kolkata
...,...,...,...,...,...,...,...
2099,Hyundai,Grand i10 Sports Edition 1.2L Kappa VTVT,Petrol,66250,11,450000.0,Ahmedabad
2100,Ford,Figo Titanium1.5 TDCi,Diesel,42158,10,360000.0,Kolkata
2102,Hyundai,Verna 1.6 VTVT SX,Petrol,37622,7,838000.0,Chennai
2103,Maruti Suzuki,Ciaz VXi+ AT,Petrol,64726,8,675000.0,Mumbai
2104,Hyundai,Verna 1.6 VTVT SX,Petrol,29150,8,876000.0,Pune

In [147]:
# prompt: one hot encoder fuel and city

# Assuming df_copy is your DataFrame as defined in the previous code
# Create dummy variables for 'fuel_type' using pandas' get_dummies
fuel_type_dummies = pd.get_dummies(df3['fuel_type'], prefix='fuel_type')

# Concatenate the dummy variables with the original DataFrame
df3 = pd.concat([df3, fuel_type_dummies], axis=1)

# Drop the original 'fuel_type' column
df3 = df3.drop('fuel_type', axis=1)

# Display the updated DataFrame
print(df3)
df3

# Assuming df_copy is your DataFrame as defined in the previous code
# Create dummy variables for 'city' using pandas' get_dummies
city_dummies = pd.get_dummies(df3['city'], prefix='city')

# Concatenate the dummy variables with the original DataFrame
df3 = pd.concat([df3, city_dummies], axis=1)

# Drop the original 'city' column
df3 = df3.drop('city', axis=1)

# Display the updated DataFrame
print(df3)
df3

            company                                       model  kms_driven  \
0           Hyundai  Grand i10 Magna 1.2 Kappa VTVT [2017-2020]       22402
1     Maruti Suzuki                                Alto 800 Lxi       10344
2              Tata                          Safari XZ Plus New       12999
3     Maruti Suzuki                                   Ciaz ZXI+       45000
4              Jeep   Compass Sport Plus 1.4 Petrol [2019-2020]       11193
...             ...                                         ...         ...
2099        Hyundai    Grand i10 Sports Edition 1.2L Kappa VTVT       66250
2100           Ford                       Figo Titanium1.5 TDCi       42158
2102        Hyundai                           Verna 1.6 VTVT SX       37622
2103  Maruti Suzuki                                Ciaz VXi+ AT       64726
2104        Hyundai                           Verna 1.6 VTVT SX       29150

      age car_price_in_rupees       city  fuel_type_CNG  fuel_type_Diesel  \
0       9            445000.0     Mumbai          False             False
1       6            293000.0    Kolkata          False             False
2       4           2249000.0  Bangalore          False              True
3       9            695000.0      Thane          False             False
4       6           1200000.0    Kolkata          False             False
...   ...                 ...        ...            ...               ...
2099   11            450000.0  Ahmedabad          False             False
2100   10            360000.0    Kolkata          False              True
2102    7            838000.0    Chennai          False             False
2103    8            675000.0     Mumbai          False             False
2104    8            876000.0       Pune          False             False

      fuel_type_Electric  fuel_type_Hybrid  fuel_type_Petrol
0                  False             False              True
1                  False             False              True
2                  False             False             False
3                  False             False              True
4                  False             False              True
...                  ...               ...               ...
2099               False             False              True
2100               False             False             False
2102               False             False              True
2103               False             False              True
2104               False             False              True

[2049 rows x 11 columns]
            company                                       model  kms_driven  \
0           Hyundai  Grand i10 Magna 1.2 Kappa VTVT [2017-2020]       22402
1     Maruti Suzuki                                Alto 800 Lxi       10344
2              Tata                          Safari XZ Plus New       12999
3     Maruti Suzuki                                   Ciaz ZXI+       45000
4              Jeep   Compass Sport Plus 1.4 Petrol [2019-2020]       11193
...             ...                                         ...         ...
2099        Hyundai    Grand i10 Sports Edition 1.2L Kappa VTVT       66250
2100           Ford                       Figo Titanium1.5 TDCi       42158
2102        Hyundai                           Verna 1.6 VTVT SX       37622
2103  Maruti Suzuki                                Ciaz VXi+ AT       64726
2104        Hyundai                           Verna 1.6 VTVT SX       29150

      age car_price_in_rupees  fuel_type_CNG  fuel_type_Diesel  \
0       9            445000.0          False             False
1       6            293000.0          False             False
2       4           2249000.0          False              True
3       9            695000.0          False             False
4       6           1200000.0          False             False
...   ...                 ...            ...               ...
2099   11            450000.0          False             False
2100   10            360000.0          False              True
2102    7            838000.0          False             False
2103    8            675000.0          False             False
2104    8            876000.0          False             False

      fuel_type_Electric  fuel_type_Hybrid  fuel_type_Petrol  ...  \
0                  False             False              True  ...
1                  False             False              True  ...
2                  False             False             False  ...
3                  False             False              True  ...
4                  False             False              True  ...
...                  ...               ...               ...  ...
2099               False             False              True  ...
2100               False             False             False  ...
2102               False             False              True  ...
2103               False             False              True  ...
2104               False             False              True  ...

      city_Gurgaon  city_Hyderabad  city_Kolkata  city_Mumbai  city_Noida  \
0            False           False         False         True       False
1            False           False          True        False       False
2            False           False         False        False       False
3            False           False         False        False       False
4            False           False          True        False       False
...            ...             ...           ...          ...         ...
2099         False           False         False        False       False
2100         False           False          True        False       False
2102         False           False         False        False       False
2103         False           False         False         True       False
2104         False           False         False        False       False

      city_Pallikarnai  city_Poonamallee  city_Pune  city_Thane  \
0                False             False      False       False
1                False             False      False       False
2                False             False      False       False
3                False             False      False        True
4                False             False      False       False
...                ...               ...        ...         ...
2099             False             False      False       False
2100             False             False      False       False
2102             False             False      False       False
2103             False             False      False       False
2104             False             False       True       False

      city_Thiruvallur
0                False
1                False
2                False
3                False
4                False
...                ...
2099             False
2100             False
2102             False
2103             False
2104             False

[2049 rows x 26 columns]

,company,model,kms_driven,age,car_price_in_rupees,fuel_type_CNG,fuel_type_Diesel,fuel_type_Electric,fuel_type_Hybrid,fuel_type_Petrol,...,city_Gurgaon,city_Hyderabad,city_Kolkata,city_Mumbai,city_Noida,city_Pallikarnai,city_Poonamallee,city_Pune,city_Thane,city_Thiruvallur
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],22402,9,445000.0,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False
1,Maruti Suzuki,Alto 800 Lxi,10344,6,293000.0,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,False
2,Tata,Safari XZ Plus New,12999,4,2249000.0,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Maruti Suzuki,Ciaz ZXI+,45000,9,695000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],11193,6,1200000.0,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099,Hyundai,Grand i10 Sports Edition 1.2L Kappa VTVT,66250,11,450000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2100,Ford,Figo Titanium1.5 TDCi,42158,10,360000.0,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2102,Hyundai,Verna 1.6 VTVT SX,37622,7,838000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2103,Maruti Suzuki,Ciaz VXi+ AT,64726,8,675000.0,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False
2104,Hyundai,Verna 1.6 VTVT SX,29150,8,876000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,False

In [148]:
# prompt: remove outliners

# Assuming df3 is your DataFrame as defined in the previous code

# Identify outliers in 'car_price_in_rupees' using IQR
Q1 = df3['car_price_in_rupees'].quantile(0.25)
Q3 = df3['car_price_in_rupees'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filter out outliers
df3 = df3[~((df3['car_price_in_rupees'] < lower_bound) | (df3['car_price_in_rupees'] > upper_bound))]

# Display the updated DataFrame
df3

,company,model,kms_driven,age,car_price_in_rupees,fuel_type_CNG,fuel_type_Diesel,fuel_type_Electric,fuel_type_Hybrid,fuel_type_Petrol,...,city_Gurgaon,city_Hyderabad,city_Kolkata,city_Mumbai,city_Noida,city_Pallikarnai,city_Poonamallee,city_Pune,city_Thane,city_Thiruvallur
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],22402,9,445000.0,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False
1,Maruti Suzuki,Alto 800 Lxi,10344,6,293000.0,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,False
3,Maruti Suzuki,Ciaz ZXI+,45000,9,695000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],11193,6,1200000.0,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,False
5,Maruti Suzuki,Eeco 5 STR WITH A/C+HTR [2019-2020],42906,8,372000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099,Hyundai,Grand i10 Sports Edition 1.2L Kappa VTVT,66250,11,450000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2100,Ford,Figo Titanium1.5 TDCi,42158,10,360000.0,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2102,Hyundai,Verna 1.6 VTVT SX,37622,7,838000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2103,Maruti Suzuki,Ciaz VXi+ AT,64726,8,675000.0,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False
2104,Hyundai,Verna 1.6 VTVT SX,29150,8,876000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,False

In [152]:
# prompt: apply minmax on kms_driven coloumn

from sklearn.preprocessing import MinMaxScaler

# Use df3 instead of df_copy for scaling
scaler = MinMaxScaler()

# Reshape the column before scaling (MinMaxScaler expects a 2D array)
kms_driven_reshaped = df3['kms_driven'].values.reshape(-1, 1)

# Fit and transform the data
scaled_kms_driven = scaler.fit_transform(kms_driven_reshaped)

# Replace the original 'kms_driven' column with the scaled values
df3['kms_driven'] = scaled_kms_driven

# Display the updated DataFrame
df3

<ipython-input-152-9f65f23f32df>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['kms_driven'] = scaled_kms_driven

,company,model,kms_driven,age,car_price_in_rupees,fuel_type_CNG,fuel_type_Diesel,fuel_type_Electric,fuel_type_Hybrid,fuel_type_Petrol,...,city_Gurgaon,city_Hyderabad,city_Kolkata,city_Mumbai,city_Noida,city_Pallikarnai,city_Poonamallee,city_Pune,city_Thane,city_Thiruvallur
0,Hyundai,Grand i10 Magna 1.2 Kappa VTVT [2017-2020],0.032377,9,445000.0,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False
1,Maruti Suzuki,Alto 800 Lxi,0.014900,6,293000.0,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,False
3,Maruti Suzuki,Ciaz ZXI+,0.065131,9,695000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
4,Jeep,Compass Sport Plus 1.4 Petrol [2019-2020],0.016130,6,1200000.0,False,False,False,False,True,...,False,False,True,False,False,False,False,False,False,False
5,Maruti Suzuki,Eeco 5 STR WITH A/C+HTR [2019-2020],0.062096,8,372000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2099,Hyundai,Grand i10 Sports Edition 1.2L Kappa VTVT,0.095931,11,450000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2100,Ford,Figo Titanium1.5 TDCi,0.061011,10,360000.0,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2102,Hyundai,Verna 1.6 VTVT SX,0.054437,7,838000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2103,Maruti Suzuki,Ciaz VXi+ AT,0.093722,8,675000.0,False,False,False,False,True,...,False,False,False,True,False,False,False,False,False,False
2104,Hyundai,Verna 1.6 VTVT SX,0.042158,8,876000.0,False,False,False,False,True,...,False,False,False,False,False,False,False,True,False,False

In [154]:
# prompt: perform linear regression

# Assuming df3 is your DataFrame as defined in the previous code

# Prepare the data for linear regression
X = df3.drop('car_price_in_rupees', axis=1)  # Features (all columns except target)
y = df3['car_price_in_rupees']  # Target variable

# Convert categorical columns to numerical using one-hot encoding (if not already done)
X = pd.get_dummies(X, columns=['company', 'model'], drop_first=True)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize and train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

ValueError: could not convert string to float: 'Hyundai'